:root {
  --padding-left: calc(50% - 620px);
}

html {
  font-size: 62.5%;
  width: 100%;
}

body {
  flex-flow: column;
  max-width: 1240px;
  padding-left: var(--padding-left);
  color: #000;
  font-family: "Lato";
}

main {
  box-sizing: border-box;
}

div,
nav,
.fa {
  display: flex;
}

p {
  margin: 0;
}

ol,
ul,
li,
button,
a {
  text-decoration: none;
}

.sr-only {
  visibility: hidden;
  width: 100px;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
}

#enter {
  height: 1rem;
  width: fit-content;
  position: absolute;
  top: 0;
}

.m-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.m-header__logo {
  margin-top: 3rem;
  height: 5.2rem;
  width: 5.2rem;
}
.m-header__logo img {
  object-fit: fill;
}
.m-header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.7rem;
  padding-bottom: 1.7rem;
  color: #D04F4F;
}

#cat {
  width: 100%;
  margin: 2rem 0;
  flex-direction: row;
  font-weight: 700;
  font-size: 1.8rem;
  font-style: normal;
  color: white;
}
#cat1 {
  background-color: #3282F7;
}
#cat2 {
  background-color: #68D9A4;
}
#cat3 {
  background-color: #ED6454;
}

.catItem {
  min-width: 17rem;
  height: 7rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
  float: left;
}
.catItemH {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.catItemH__name {
  width: 13rem;
  padding: 2.4rem 1.5rem;
}
.catItemH__title {
  width: 60rem;
  padding: 1.5rem;
  font-size: 1.4rem;
}
.catItemH__icon {
  padding-right: 2.5rem;
}

#cat1ItemD {
  z-index: 9;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  width: 67rem;
  height: 40rem;
  overflow-y: scroll;
}

#cat1ItemC {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 1.9rem;
  padding-bottom: 1.5rem;
  background-color: #3282F7;
}

#cat2ItemD {
  z-index: 9;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  width: 30rem;
  height: auto;
}

#cat2ItemC {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1.9rem;
  padding-bottom: 1.5rem;
  background-color: #68D9A4;
}

#cat3ItemD {
  z-index: 9;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  width: 67rem;
  height: 40rem;
}

#cat3ItemC {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 1.9rem;
  padding-bottom: 1.5rem;
  background-color: #ED6454;
}

.itemS:hover {
  cursor: pointer;
  color: black;
  font-weight: 700;
}

.research {
  height: 7rem;
  border-radius: 0.5rem;
  background-color: #E7E7E7;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.research > input {
  border-color: transparent;
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 2.3rem;
  color: black;
  font-size: 1.8rem;
}
.research__btn {
  width: 3.2rem;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
  padding: 1.7rem 1.9rem;
}
.research__btn > span {
  font-size: 3.2rem;
  font-weight: 700;
}
.research__btn:hover {
  background-color: #C7BEBE;
}

.tags {
  width: 100%;
  height: 3.7rem;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.tag {
  display: flex;
  flex-direction: row;
  height: 3.7rem;
  width: fit-content;
  font-weight: 700;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  color: white;
  float: left;
}
.tag0 {
  background-color: #D04F4F;
}
.tag1 {
  background-color: #3282F7;
}
.tag2 {
  background-color: #68D9A4;
}
.tag3 {
  background-color: #ED6454;
}
.tag_name {
  width: fit-content;
  margin-left: 1rem;
  margin-right: 1rem;
}
.tag_cont {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  border: 2px solid white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.tag_cont > span {
  font-size: 1.4rem;
}

#cards-cont {
  margin-top: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.card {
  width: 100%;
  height: 36.4rem;
  max-height: 36.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  font-weight: 700;
  font-size: 1.2rem;
}
.card:hover, .card:active {
  height: auto;
}
.card__high {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 17.8rem;
  background-color: #C7BEBE;
}
.card__low {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  height: 18.6rem;
  background-color: #E7E7E7;
  color: black;
}
.card__low-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  height: 2rem;
}
.card__low-hname {
  font-size: 1.8rem;
}
.card__low-htp {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card__low-htp i {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}
.card__low-htpt {
  font-size: 1.8rem;
  padding-left: 0.5rem;
}
.card__low-c {
  display: flex;
  flex-direction: row;
  padding: 0 2rem 1rem 2rem;
}
.card__low-cl {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
  max-height: 10.5rem;
}
.card__low-cll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 700;
}
.card__low-cr {
  width: 16rem;
  max-height: 10.5rem;
  display: flex;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.toTop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 5rem;
  height: 5rem;
  background-color: #C7BEBE;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}
.toTop:hover {
  opacity: 1;
}

#toTop {
  font-size: 2rem;
  color: black;
}

/*# sourceMappingURL=style.css.map */
