html {
    font-size: 62.5%;
}

body {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-flow: column;
    margin: auto;
    color: #000;
    font-family: 'Lato';
}

ol,
ul,
li,
button,
a {
    text-decoration: none;
}

.sr-only {
    visibility: hidden;
}
