html {
    font-size: 62.5%;
}

body {
    max-width: 1240px;
    flex-flow: column;
    margin: auto;
    color: #000;
    font-family: 'Lato';
}

div,
nav,
.fa {
    display: flex;
}

p {
    margin:0;
}

ol,
ul,
li,
button,
a {
    text-decoration: none;
}

.sr-only {
    visibility: hidden;
}
